### Q6b)

In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from sklearn.linear_model import LinearRegression

In [2]:
saar_data = pd.read_csv('../../datasets/SAAR_elevation.csv')

In [3]:
saar_data

   Name  elevation_m  SAAR_mm       E       N
0   ASK          186     1136  351500  523900
1   OAS          165      889  357910  527500
2   SYH          120      850  358200  522000
3   SLE          212     1166  359300  519200
4   BLA          330     1425  363100  511700
5   KRT          128      776  364400  526700
6   SCA          183     1135  367300  514400
7   APM          150      896  369080  519640
8   ASB          250     1089  369500  512500
9   BRE          175      926  370100  513900
10  GAI          400     1346  371400  500900
11  SAN          150      885  372600  516100
12  CRO          198     1263  372800  509700
13  MUR          275      974  373100  522100
14  SYK          180      883  374700  512200
15  STE          380     1762  375000  501200
16  MUS          155      910  375700  513800
17  ANG          480     2083  377200  499300
18  AIS          360     1983  377800  496300
19  BRO          251     1039  380500  515500
20  NAT          500     1528  381000  505200
21  KEA          191     1124  381300  516300
22  WCH          505     1739  383500  519400
23  BEA          343     1129  384500  512100

### Check for missing:
* any missing data
* any erroneous data (e.g. negative, or large values which are clearly incorrect)
* any samples which are too small or not matching in size if they are to be compared against other samples

In [4]:
# using isnull() function
saar_data.isnull()

     Name  elevation_m  SAAR_mm      E      N
0   False        False    False  False  False
1   False        False    False  False  False
2   False        False    False  False  False
3   False        False    False  False  False
4   False        False    False  False  False
5   False        False    False  False  False
6   False        False    False  False  False
7   False        False    False  False  False
8   False        False    False  False  False
9   False        False    False  False  False
10  False        False    False  False  False
11  False        False    False  False  False
12  False        False    False  False  False
13  False        False    False  False  False
14  False        False    False  False  False
15  False        False    False  False  False
16  False        False    False  False  False
17  False        False    False  False  False
18  False        False    False  False  False
19  False        False    False  False  False
20  False        False    False  False  False
21  False        False    False  False  False
22  False        False    False  False  False
23  False        False    False  False  False

In [5]:
# Any missing values?
saar_data.isnull().values.any()

False

No missing values in the data set.

### Function for calculating estimated coefficient and plotting

In [6]:
# Function for calculating estimated coefficient and plotting

def estimate_coef(x, y):
    # number of observations/points
    n = np.size(x)

    # mean of x and y vector
    m_x = np.mean(x)
    m_y = np.mean(y)

    # calculating cross-deviation and deviation about x
    SS_xy = np.sum(y*x) - n*m_y*m_x
    SS_xx = np.sum(x*x) - n*m_x*m_x

    # calculating regression coefficients
    b_1 = SS_xy / SS_xx
    b_0 = m_y - b_1*m_x

    return (b_0, b_1)

def plot_regression_line(x, y, b):
    # plotting the actual points as scatter plot
    plt.scatter(x, y, color = "m",
               marker = "o", s = 30)

    # predicted response vector
    y_pred = b[0] + b[1]*x

    # plotting the regression line
    plt.plot(x, y_pred, color = "g")

    # putting labels
    plt.xlabel('elevation')
    plt.ylabel('rainfall')

    # function to show plot
    plt.show()

### simple linear regression relation between rainfall and elevation

In [7]:
 # observations / data
rainfall = saar_data.SAAR_mm
elevation_easting_northing = saar_data[['elevation_m', 'E', 'N']]

# estimating coefficients
# b = estimate_coef(elevation_easting_northing, rainfall)
# print("Estimated coefficients:\nb_0 = {}  \
#      \nb_1 = {}".format(b[0], b[1]))

# plotting regression line
# plot_regression_line(elevation_easting_northing, rainfall, b)

## Comparing base-line method results with sklearning library funncton

In [8]:
rainfall = rainfall.values
elevation_easting_northing = elevation_easting_northing.values.reshape(-1, 3)
elevation_easting_northing

array([[   186, 351500, 523900],
       [   165, 357910, 527500],
       [   120, 358200, 522000],
       [   212, 359300, 519200],
       [   330, 363100, 511700],
       [   128, 364400, 526700],
       [   183, 367300, 514400],
       [   150, 369080, 519640],
       [   250, 369500, 512500],
       [   175, 370100, 513900],
       [   400, 371400, 500900],
       [   150, 372600, 516100],
       [   198, 372800, 509700],
       [   275, 373100, 522100],
       [   180, 374700, 512200],
       [   380, 375000, 501200],
       [   155, 375700, 513800],
       [   480, 377200, 499300],
       [   360, 377800, 496300],
       [   251, 380500, 515500],
       [   500, 381000, 505200],
       [   191, 381300, 516300],
       [   505, 383500, 519400],
       [   343, 384500, 512100]])

In [9]:
model = LinearRegression().fit(elevation_easting_northing, rainfall)

You can obtain the coefficient of determination, 𝑅², with .score() called on model:

In [10]:
r_sq = model.score(elevation_easting_northing, rainfall)
print(f"coefficient of determination: {r_sq}")

coefficient of determination: 0.815092303007069

Therefore; the variance score is 0.72.

The attributes of model are .intercept_, which represents the coefficient 𝑏₀, and .coef_, which represents 𝑏₁:

In [11]:
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

intercept: 12860.230479130896
slope: [ 2.12417658 -0.00843012 -0.01766988]

The value of 𝑏₀ is approximately 532.9. This illustrates that your model predicts the response 532.9 when 𝑥 is zero. The value 𝑏₁ = 2.58 means that the predicted response rises by 2.58 when 𝑥 is increased by one.

In [12]:
# plotting regression line
# plot_regression_line(elevation_easting_northing, rainfall, [model.intercept_, model.coef_])

### Q6c) For a new ungauged location at (E,N) (380000,500000) and elevation of 400 m, use your best regression relation from 2b to estimate the SAAR.

For a new ungauged location at (E,N) (380000,500000) and elevation of 400 m, use your best regression relation from 2b to estimate the SAAR.

In [13]:
estimate_saar_input_vales = np.array([400, 380000, 500000]).reshape(-1, 3)
estimate_saar_input_vales

array([[   400, 380000, 500000]])

Use the model in section (Q6b) and predict the SAAR estimate

In [14]:
estimate_saar_prediction = model.predict(estimate_saar_input_vales)
print(f"The estimate value of the SAAR is:\n{estimate_saar_prediction}")

The estimate value of the SAAR is:
[1671.51616078]